/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.header-top{
	padding-top: 3px;
	text-align: center;
	color:#FF3401 ;


}

.btn-primary{
	background:#290900;
	border-color:#290900;
}

.jumbotron{
	background: #FEAE09;
	background-image: url('../img/sai.jpg'), url('../img/images.jpg');
	color:#fff;
	text-align: center;
	border-bottom: 5px #f4f4f4 solid;
  	background-position: left top,left top;
  	background-repeat: no-repeat,repeat;
  	background-size: 260px 410px;
	padding:15px 200px 15px 15px;

}

.jumbotron-main{
	padding: 0 60px 40px 60px;
}

.jumbotron-main h1{
	margin-top:60px;
	margin-bottom:30px;
}

.jumbotron p.lead{
	font-size:25px;
	margin-bottom:60px;
}

.jumbotron-sub{
	padding: 0 60px 40px 60px;
}

.navbar{
	margin:0;
	color:#fff;
}

.navbar a{
	color:#fff;
	margin-bottom:3px;
}

.navbar a:hover{
	background:none !important;
	border-bottom:#fff 3px solid;
	margin-bottom:0;
}

.box{
	text-align: center;
}

.box .glyphicon{
	font-size:50px;
}

.section-a{
	background:#290900;
	color:#fff;
	text-align: center;
	padding:50px;
	margin-bottom:30px;
}

.section-a h1{
	font-size:50px;
}

.img-full{
	width:100%;
}

.main-footer{
	background:#f5f5f5;
	padding:10px;

}

.main-footer a{
color:#290900;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 1rem;
  z-index: 10;
background-color:#290900;

}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 28rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 28rem;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 30rem;
}

#myCarousel {
  width: 800px;
  margin-left: 15rem;

}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
